
.navbarButtonContainer{
    position: absolute;
    top: 30px;
    left: 2440px;
}
.navbarButton{
    color: white;
    margin-right: 26px;
    margin-top: 34px;
}
.navbarButton div{
    width: 40px;
    margin-bottom: 7px;
    border-bottom: 3px solid white;
}
